apiVersion: 1
"""
Provisioning datasource for Grafana - Prometheus
"""

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
